In [1]:
import pandas as pd

In [2]:
carbonFilePath = r'C:\Users\aclark48\Desktop\DataScience1\Data files\State energy-related carbon dioxide emissions by year.xlsx'
cancerFilePath = r'C:\Users\aclark48\Desktop\DataScience1\Data files\Lung cancer by state.xlsx'
COPDFilePath = r'C:\Users\aclark48\Desktop\DataScience1\Data files\State_COPD_prevalence.csv'
asthmaFilePath = r'C:\Users\aclark48\Desktop\DataScience1\Data files\Asthma by state.xlsx'
pneumoniaFilePath = r'C:\Users\aclark48\Desktop\DataScience1\Data files\Pneumonia data.csv'
populationFilePath = r'C:\Users\aclark48\Desktop\DataScience1\Data files\Population numbers.xlsx'

In [3]:
unwrangledCarbonData = pd.read_excel(carbonFilePath)
cancerData = pd.read_excel(cancerFilePath)
unwrangledCOPDData = pd.read_csv(COPDFilePath)
unwrangledAsthmaData = pd.read_excel(asthmaFilePath)
unwrangledPneumoniaData = pd.read_csv(pneumoniaFilePath)
populationData = pd.read_excel(populationFilePath)

In [4]:
carbonKeep = ['State', 2021]
carbonData = unwrangledCarbonData[carbonKeep]
COPDKeep = ['State Name', 'Age-Adjusted Prevalence (%)']
COPDData = unwrangledCOPDData[COPDKeep]
AsthmaKeep = ['State or Territory', 'Number With Current Asthma']
AsthmaData = unwrangledAsthmaData[AsthmaKeep]
PneumoniaKeep = ['STATE', 'RATE']
PneumoniaData = unwrangledPneumoniaData[PneumoniaKeep]

In [5]:
carbonData.head()

        State        2021
0     Alabama  108.392103
1      Alaska   38.872526
2     Arizona   83.024267
3    Arkansas   62.024941
4  California  324.039053

In [6]:
cancerData.head()

        State  Lung & bronchus cancer
0     Alabama                    4520
1      Alaska                     370
2     Arizona                    4550
3    Arkansas                    2970
4  California                   17760

In [7]:
COPDData.head()

   State Name  Age-Adjusted Prevalence (%)
0     Alabama                          8.9
1      Alaska                          4.6
2     Arizona                          5.4
3    Arkansas                          8.1
4  California                          5.1

In [8]:
AsthmaData.head()

  State or Territory Number With Current Asthma
0            Alabama                     394199
1             Alaska                      49453
2            Arizona                     519749
3           Arkansas                     207857
4         California                    2694396

In [9]:
PneumoniaData.head()

        STATE  RATE
0     Alabama  16.8
1      Alaska   7.2
2     Arizona  10.2
3    Arkansas  14.7
4  California  10.5

In [10]:
populationData.head()

  Geographic Area      2021
0        .Alabama   5049846
1         .Alaska    734182
2        .Arizona   7264877
3       .Arkansas   3028122
4     .California  39142991