In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\aclark48\Desktop\DataScience1\Data files\pirates.csv")

In [17]:
data.head(5)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg,weight_lb
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11,155.4525
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9,232.8480
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7,170.0055
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9,128.9925
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14,128.7720

In [4]:
#challenge 2.1
#data.shape[0] #sends a tuple of [rows, cols]

In [5]:
#challenge 2.2 (and 2.1)
#data.info()

In [6]:
#Challenge 2.3
nullValues = [] #list of the location of nulls
for i in range(data.shape[0]): #loops through rows
    for j in data.columns: #loops thorugh cols
        if pd.isnull(data.at[i, j]): #checks for Nulls
            nullValues.append((i, j)) #adds nulls to list
print(nullValues)

[(33, 'age'), (136, 'sword.time'), (634, 'favorite.pirate'), (999, 'headband')]

In [7]:
#challenge 3
#I used the mode in each spot, as it's the most common and likely option, and shouldn't skew the data.
modes = data.mode().iloc[0]
data = data.fillna(modes)
#data.info()
print(data.at[33, 'age'])
print(data.at[136, 'sword.time'])
print(data.at[634, 'favorite.pirate'])
print(data.at[999, 'headband'])

27.0
0.1
Jack Sparrow
yes

In [8]:
#Challenge 4.1
print(data["sex"].nunique())
print(data["sex"].unique())

3
['male' 'female' 'other']

In [9]:
#Challenge 4.2.1
data["age"].mean() #Gets the average of all ages

27.357

In [10]:
#Challenge 4.2.2
#Makes a temp dataframe that only contains rows with 'female', and then checks the average age
round(data[data['sex'] == 'female']["age"].mean(), 3)

29.916

In [11]:
#Challenge 4.2.2 V2
femaleData = data[data['sex'] == 'female']
round(femaleData["age"].mean(), 3)

29.916

In [12]:
#Challenge 4.3
count = 0 #Count of how many peeps are in the restriction
for row in range(data.shape[0]): #Loops through rows
    inLBS = data.at[row, "weight"] * 2.205 #converts data to LBS
    if inLBS < 100: #checks if they're in the restriction
        count += 1 #adds 1 to count if the pirate is under 100 LBS
avg = (count / data.shape[0]) * 100 #converts to average
print(f"{avg}%") #prints averge and adds percent sign

0.8%

In [13]:
#challenge 4.3 V2
data["weight_lb"] = data["weight"] *2.205
(data["weight_lb"] < 100).mean() * 100

0.8

In [14]:
#Challenge 5.1
shorty = data["height"].min()
shortyID = data["height"].idxmin() + 1
print(f"Pirate {shortyID} is the shortest, standing {shorty} cm off the ground.")

Pirate 39 is the shortest, standing 129.83 cm off the ground.

In [15]:
#Challenge 5.2
heavy = data["weight"].max()
heavyID = data["weight"].idxmax() + 1
print(f"Pirate {heavyID} is the heaviest, wheighing {heavy} kg.")

Pirate 2 is the heaviest, wheighing 105.6 kg.

In [16]:
#Challenge 5.3
data["fav.pixar"].mode()[0]

'Inside Out'

In [22]:
#Cahllenge 6.1
eavg = data["eyepatch"].mean()
emed = data["eyepatch"].median()
print(f"The average is {eavg}. The median is {emed}.")
data["eyepatch"].max() #no one is completly blind with two eyepatches

The average is 0.658. The median is 1.0.

1

In [32]:
#Challenge 6.1
data = pd.to_numeric(data["parrots"])
pavg = pdata["parrots"].mean()
pmed = pdata["parrots"].median()
print(f"The average is {pavg}. The median is {pmed}.")

ValueError: Unable to parse string ""1"" at position 36