In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'A': [1, 2, 3], "B": [1,2,3]})

   A  B
0  1  1
1  2  2
2  3  3

In [3]:
data = pd.read_csv(r"C:\Users\aclark48\Desktop\DataScience1\Data files\pirates.csv")

In [4]:
data.head(5)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [5]:
#challenge 2.1
data.shape[0] #sends a tuple of [rows, cols]

1000

In [6]:
#challenge 2.2 (and 2.1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [7]:
#Challenge 2.3
nullValues = [] #list of the location of nulls
for i in range(data.shape[0]): #loops through rows
    for j in data.columns: #loops thorugh cols
        if pd.isnull(data.at[i, j]): #checks for Nulls
            nullValues.append((i, j)) #adds nulls to list
print(nullValues)

[(33, 'age'), (136, 'sword.time'), (634, 'favorite.pirate'), (999, 'headband')]

In [8]:
#challenge 3
#I used the mode in each spot, as it's the most common and likely option, and shouldn't skew the data.
for i in nullValues:
    col = i[1]
    row = i[0]
    data.at[row, col] = data[i[1]].mode()
data.info()
data.at[33, 'age']
data.at[136, 'sword.time']
data.at[634, 'favorite.pirate']
data.at[999, 'headband']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              1000 non-null   float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         1000 non-null   object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  1000 non-null   object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       1000 non-null   float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

0    yes
Name: headband, dtype: object

In [9]:
#challenge 3
#I used the mode in each spot, as it's the most common and likely option, and shouldn't skew the data.
#for i in nullValues:
    #col = i[1]
    #row = i[0]
    #data.at[row, col].fillna(data[col].mode())
#data.info()
#data.at[33, 'age']
#data.at[136, 'sword.time']
#data.at[634, 'favorite.pirate']
#data.at[999, 'headband']

In [13]:
modes = data.mode().iloc[0]
data = data.fillna(modes)
data.info()
print(data.at[33, 'age'])
print(data.at[136, 'sword.time'])
print(data.at[634, 'favorite.pirate'])
print(data.at[999, 'headband'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              1000 non-null   float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         1000 non-null   object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  1000 non-null   object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       1000 non-null   float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB
27.0
0.1
0    Jack Sparrow
Name: favorite.pirate, dtype: object
0    yes
Name: headband, dtype: object