In [1]:
colPirates = {
    "Name": ["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida Al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Years Active": ["1716 - 1718", "1718 - 1720", "1718 - 1720", "1798 - 1810", "1564 - 1595", "1708 - 1721", "1515 - 1545", "1801 - 1810", "1563 - 1596", "1810 - 1823"],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico"],
    "Alias": ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"]
} #The new pirate data colum oriented

In [2]:
rowPirates = {
    'Edward Teach': ['1716 - 1718', 'Caribbean', 'Blackbeard'],
    'Anne Bonny': ['1718 - 1720', 'Caribbean', ''],
    'John Rackham': ['1718 - 1720', 'Caribbean', 'Calico Jack'],
    'Cheung Po Tsai': ['1798 - 1810', 'South China Sea', 'The Kid'], #who had the audacity to started calling Cheung "The Kid" 
    "Grace O'Malley": ['1564 - 1595', 'British Isles', 'Queen of Ireland'],
    'Mary Read': ['1708 - 1721', 'Caribbean', 'Mark'], #if was a pirate, I would hate to have such a boring nickname as "Mark". 
    #Imagine people talking about the great pirates of "Blackbeard," "Terror of the Gulf,", and "Mark"
    'Sayyida Al Hurra': ['1515 - 1545', 'Mediterranean', 'Hakimat Titwan'],
    'Zheng Yi Sao': ['1801 - 1810', 'South China Sea', 'Ching Shih'],
    'Francis Drake': ['1563 - 1596', 'Caribbean', 'Sir Francis Drake'],
    'Jean Lafitte': ['1810 - 1823', 'Gulf of Mexico', 'Terror of the Gulf']
} #The new pirate data row oriented

In [3]:
#Trying to make rowPirates in a fancy way
rowPirates2 = {
    
}
rowPirates2['Edward Teach'] = ['1716 - 1718', 'Caribbean', 'Blackbeard']
for i in range(len(colPirates["Name"])):
        rowPirates2[colPirates["Name"][i]] = [colPirates["Years Active"][i], colPirates["Sailed"][i], colPirates["Alias"][i]]

In [10]:
#py challenge 2-1
count = 0 #num of pirates who were active
for i in range(len(colPirates["Years Active"])): #loops through all years active values
    if(colPirates["Sailed"][i] == "Caribbean"):
        if((int(colPirates["Years Active"][i][0:4:1]) < 1800 and int(colPirates["Years Active"][i][0:4:1]) > 1699)
            or (int(colPirates["Years Active"][i][7::]) < 1800 and int(colPirates["Years Active"][i][7::]) > 1699)): #checks to see if either value is within 1699-1800
            count += 1
        
print("There were", count, "pirates active in the Caribbean in the 18th century")

There were 4 pirates active in the Caribbean in the 18th century

In [13]:
#py challenge 2-2
highest = 0 #highest score
personIndex = -1 #perosn who holds the high score
for i in range(len(colPirates["Years Active"])): #loops through all years active values
    diff = (int(colPirates["Years Active"][i][7::]) - int(colPirates["Years Active"][i][0:4:1])) #calculates the difference in the start and end of their career
    if (diff > highest): #if the new difference is higher than the highest, it sets the values to the new values
        highest = diff
        personIndex = i
print("The Highest years active is", highest, "which is the length of", colPirates["Name"][personIndex] + "'s Career")

The Highest years active is 33 which is the length of Francis Drake's Career

In [6]:
#py challenge 2-3
total = 0 #total years pirates were active
totalPirates = len(colPirates["Years Active"]) #the number of values in years active
for i in range(totalPirates): #loops through all years activesvalues
    diff = (int(colPirates["Years Active"][i][7::]) - int(colPirates["Years Active"][i][0:4:1])) #calculates the difference in the start and end of their career
    total += diff #adds the differnce to the total
avg = total / totalPirates #calculates the average
print("The average years active is", avg)

The average years active is 14.7

In [ ]:
pirates = {
    "Pirate":["Blackbeard", "Anne Bonny", "Calico Jack", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Ching Shih", "Sir Francis Drake", "Jean Lafittte"],
    "Sex":["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"],
    "Age at Death":[40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height":[6.4, 5.6, 5.6, 5.3, 5.0, 5.1, "", 5.3, 5.5, 6.2],
    "Skull and Crossbones":[False, True, True, False, False, True, False, False, False, False]
}

colPirates = {
    "Name": ["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida Al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Years Active": ["1716 - 1718", "1718 - 1720", "1718 - 1720", "1798 - 1810", "1564 - 1595", "1708 - 1721", "1515 - 1545", "1801 - 1810", "1563 - 1596", "1810 - 1823"],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico"],
    "Alias": ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"]
} #The new pirate data colum oriented

colPirates.update(pirates)
fullPirates = colPirates
fullPirates.pop("Pirate")
fullPirates

In [ ]:
pirates = {
    "Pirate":["Blackbeard", "Anne Bonny", "Calico Jack", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Ching Shih", "Sir Francis Drake", "Jean Lafittte"],
    "Sex":["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"],
    "Age at Death":[40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height":[6.4, 5.6, 5.6, 5.3, 5.0, 5.1, "", 5.3, 5.5, 6.2],
    "Skull and Crossbones":[False, True, True, False, False, True, False, False, False, False]
}

colPirates = {
    "Name": ["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida Al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Years Active": ["1716 - 1718", "1718 - 1720", "1718 - 1720", "1798 - 1810", "1564 - 1595", "1708 - 1721", "1515 - 1545", "1801 - 1810", "1563 - 1596", "1810 - 1823"],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico"],
    "Alias": ["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"]
} #The new pirate data colum oriented

colPirates.update(pirates)
fullPirates = colPirates
fullPirates.pop("Pirate")
fullPirates